<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <input type="text" name="username" id="username" placeholder="Username">
        <input type="email" name="email" id="email" placeholder="Email">
        <input type="password" name="password" id="password" placeholder="Password">
        <input type="password" name="confirm_password" id="confirm_password" placeholder="confirm password">
        <input type="text" name="phone_field" placeholder="Phone Number" required>
        <button type="submit">Register</button>
    </form>
</body>
</html>

